// COLORS
$yellow: #FFE665;
$red: #FF9078;
$black: #1E1E1E;

// FONT SIZES

//      mobile
$title: 2.5rem;
$header: 2rem;
$text: 1.25rem;
$button: 1rem;

//      desktop
$des-title: 6rem;
$des-header: 3rem;
$des-text: 2rem;
$des-button: 1.5rem;