@use "../utilities" as *;

#hero {
    padding: 1rem 0;
}

.hero-text {
    display: grid;
    justify-content: center;

    h2 {
        padding: 1rem;
        font-size: $title;
        font-weight: bold;
    }

    p {
        width: 280px;
        padding-bottom: 2rem;
        font-size: $text;
    }

    button {
        width: fit-content;
        margin: auto;
        padding: 1rem;

        font-size: $button;
        border-radius: 10px;
        background-color: $black;
        color: $red;

        transition: color 200ms;
    }

    button:hover {
        color: $yellow;
    }

    button:active {
        transform: translate(0, 2px);
    }
}

.hero-img {
    display: flex;
    place-content: center;
    padding: 2rem 0 4rem;
}