@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
/* 
    re-csset By Daniel Hernandez @dherrrnandez 
    github repo: https://github.com/dherrrnandez/re-csset/
*/
:root {
  font-synthesis: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.25;
  scroll-behavior: smooth;
}

input,
button,
optgroup,
textarea,
select,
fieldset {
  margin: 0;
  border-width: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  text-transform: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

a,
button {
  cursor: pointer;
}

b,
strong {
  font-weight: bolder;
}

cite {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
  overflow-wrap: break-word;
}

ul,
ol,
dd,
menu {
  list-style: none;
}

::placeholder {
  color: unset;
}

[hidden] {
  display: none;
}

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #1E1E1E;
}

body {
  max-width: 1100px;
  margin: auto;
  background-color: #FFE665;
}

main {
  position: relative;
  padding-top: 56px;
  padding-inline: 0.5rem;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE665;
  font-size: 2rem;
  color: #FF9078;
  box-shadow: 0px 0px 20px rgba(30, 30, 30, 0.1);
}

#logo {
  font-weight: bold;
}

#hamburger {
  background-color: transparent;
  height: fit-content;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: grid;
  place-content: center;
  gap: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #FFE665;
  transform: translate(-105%);
  transition: transform 700ms;
}

.menu-active {
  overflow: hidden;
}
.menu-active .menu {
  transform: translate(0);
}

#hero {
  padding: 1rem 0;
}

.hero-text {
  display: grid;
  justify-content: center;
}
.hero-text h2 {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.hero-text p {
  width: 280px;
  padding-bottom: 2rem;
  font-size: 1.25rem;
}
.hero-text button {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #1E1E1E;
  color: #FF9078;
}

.hero-img {
  display: flex;
  place-content: center;
  padding: 2rem 0 4rem;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: grid;
  justify-items: center;
  margin-bottom: 4rem;
}
.content-container img {
  width: 90%;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(30, 30, 30, 0.15);
}

.content-text {
  display: grid;
  justify-items: center;
}
.content-text h3 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.content-text p {
  width: 80%;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
